<header id="header" class="">
    <div class="headerInicio">
        <div class="header-container d-flex align-items-center justify-content-between">
            <!--Modificacion Se quita h1 del nav-->
            <div class="logo">
                <a href="index.html"><img src="./assets/logo.png" alt="" class="img-fluid" width="150px"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" routerLink="inicio">Inicio</a></li>
                    <li><a class="nav-link scrollto" routerLink="cursos">Cursos y reclutamiento</a></li>
                    <li><a class="nav-link scrollto" routerLink="contacto">Contacto</a></li>
                    <li><a class="nav-link scrollto" routerLink="login">Ingresar</a></li>
                    <li><a class="nav-link scrollto" routerLink="registro">Registro</a></li>
                    <li><a class="nav-link scrollto" routerLink="tienda">Tienda</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
        <!-- End Header Container -->
    </div>
</header>