<br><br><br><br>
<main>
  <div class="container my-3 p-4 main-container">
  	<div class="container2">
      <h1 class="m-4 text-center">Registro</h1>
      <form [formGroup]="formularioreg" (ngSubmit)="enviarDatos()" class="needs-validation">
        <div class="mb-3">
          <label for="Usuario" class="form-label">Usuario</label>
          <input type="text" formControlName="usuario" class="form-control" placeholder="Nombre de usuario" required minlength="4" maxlength="16">
        </div>
        <div class="mb-3">
          <label for="Contraseña" class="form-label">Contraseña</label>
          <input type="password" formControlName="contrasena" name="contrasena" class="form-control width:30" placeholder="Contraseña" required minlength="6" maxlength="12"><span class="validity"></span>
        </div>
        <div class="mb-3">
          <label for="Email" class="form-label">Email</label>
          <input type="email" formControlName="email" name="email" class="form-control" id="Email" placeholder="nombre@ejemplo.com" required>
        </div>
				<p>&nbsp;&nbsp;Creandose la Cuenta, Acepta los &nbsp;<a href="#">Terminos y condiciones</a>
          <label class="ckeckbox" id="checkbox-terminos"><input type="checkbox" id="cbox1" value="checkbox"></label>
				</p>
        <div class="g-recaptcha" data-sitekey="6LcNsJgcAAAAABboEiiMZ-IW7cNCbwSDvQwrGrql">
        </div>
				<button class="btn btn-primary" type="submit" onmouseover="color2(this)" onmouseout="color(this)" onclick="return valida();">Crear cuenta</button>
      </form>
    </div>
  </div>
</main>
<br>