
<div class="navtienda">
    <div class="d-flex align-items-center justify-content-between">
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="">Perfil</a></li>
          <li><a class="nav-link scrollto " routerLink="producto">Productos</a></li>
          <li>
            <div class="box">
              <div class="container-1">
                <button class="icon"><i class="fa fa-search"></i></button>
                  <input type="search" id="search" placeholder="Busca tu producto aquí..."/>
              </div>
            </div>
            
          </li>
        </ul>
      </nav>
        <!-- .navbar -->
    </div>
  </div>
  
  