<section id="hero" class="hero">
    <div class="container">
        <h1>Teamfire Store</h1>
    </div>
</section>
<div class="productos">
<h2>Nuestros productos</h2>
<div class="container-productos">
    <div class="listas">
        <img src="../../../../assets/imagenes/project-1.jpg">
        <h3><a class="producto-remeras" routerLink="tiendaremeras">Remeras</a></h3>
    </div>
    <div class="listas">
        <img src="./../../../assets/imagenes/project-2.jpg">
        <h3><a class="" routerLink="">Tazas</a></h3>
    </div>    
    <div class="listas">
        <img src="./../../../assets/imagenes/project-3.jpg">
        <h3><a class="" routerLink="">Llaveros</a></h3>
</div> 
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam vero porro! Minus aliquid totam aut dolores nihil ad suscipit quae, enim saepe est alias vero! In tempore maxime atque.
</p>
</div>