<section id="hero" class="hero">
  <div class="container">
      <h1>Remeras</h1>
  </div>
</section>
<div class="volver">
  <button class="botonvolver" type="button"><a class="enlacevolver" routerLink="../tiendaprincipal">Volver a la tienda</a></button>
</div>
<div class="container-productos" id="lista-productos">
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 1</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="1">Comprar</a>
  </div>
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 2</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="2">Comprar</a>
  </div>
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 3</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="3">Comprar</a>
  </div>
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 4</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="4">Comprar</a>
  </div>
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 5</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="5">Comprar</a>
  </div>
  <div class="card">
    <img src="a../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 6</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="6">Comprar</a>
  </div>
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 7</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="7">Comprar</a>
  </div>
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 8</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="8">Comprar</a>
  </div>
  <div class="card">
    <img src="../../../../assets/imagenes/project-1.jpg" class="card-img">
    <h5>Remera nº 9</h5>
    <p>Descripcion del producto</p>
    <p><small class="precio">$$$</small></p>
    <a href="#" class="button agregar-carrito" data-id="9">Comprar</a>
  </div>
</div>