<br><br><br><br>
<main>
  <div class="container my-3 p-4 section-container">
    <h1 class="m-4 text-center">Contactate con nosotros</h1>
    <form class="needs-validation">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ingresá tu email</label>
      	<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
      	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
      </div>
    	<button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</main>
<br><br><br><br>
