<section id="hero" class="hero">
    <div class="container">
        <h1>TeamFire: Bolsa de empleo y capacitación.</h1>
        <h2>Somos una comunidad que reune a instituciones, empresas y ONGs con jóvenes que buscan tener sus primeras experiencias laborales o colaborar a la comunidad.</h2>
        <a href="login" class="btn-get-started scrollto">Comienza a formar parte de la comunidad aquí</a>
    </div>
</section>
<!-- End Hero -->

<section class="informacion">
    <div class="presentacion">
        <div class="containerPresentacion">
          <h2>Quienes Somos</h2>
          <p class="about_paragraph"> Somos un grupo de estudiantes de la Tecnicatura en   desarrollo web y aplicaciones digitales del Instituto Superior Politecnico Córdoba,juntos pensamos en crear una plataforma en donde las personas interesadas en ingresar al amplio mundo de la tecnologia
            pudieran encontrar su primer trabajo,encontrar capacitaciones o información de su interés sobre temas de la actualidad
          </p>
        </div>

        <div class="about_main p-4">
            <article class="containerPresentacion">
                <img src="../../../../assets/imagenes/grupo.svg" class="mb-4 section-img" />
                <h3 class="about_title">¿Qué podras encontrar en nuestra comunidad? </h3>
                <p class="about_paragraph"> Personas maravillosas que buscan al igual tú, crear una mejor versión de sí mismos.
                </p>
            </article>

            <article class="containerPresentacion">
                <img src="../../../../assets/imagenes/estudiar.svg          " class="section-img mb-4" />
                <h3 class="about_title">Capacitaciones</h3>
                <p class="about_title">Un espacio en el que te compartimos material, charlas y eventos que posibiliten tu crecimiento personal y profesional.
                </p>
            </article>

            <article class="containerPresentacion">
                <img src="../../../../assets/imagenes/reclutamiento.svg" class="section-img mb-4" />
                <h3 class="about_title">Recluting</h3>
                <p class="about_title"> Empresas, ONGs y otras instituciones buscan de forma permanente a jóvenes para darles la oportunidad de obtener su primera experiencia de trabajo.
                </p>
            </article>
        </div>
    </div>
</section>
