.main-container{
    background-color:#9bbaf751;
    margin: 50px 200px;
    padding: 10px;
    text-align: center;
    box-shadow:     
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.main-container .container2{
    padding: 30px;
    font-size: 20px;
}

.main-container .container2:before{
    content:"";
    margin:0;
    box-shadow: inset 0 0 2000px rgba(255,255,255, 0.5);
    filter: blur(1px);
}

.main-container .container2 h1{
    font-size: 40px;
    padding-bottom: 30px;
}


.main-container .container2 .formularioreg div{
    padding: 5px;

}

.main-container .container2 .formularioreg p{
    padding-top: 20px;

}
.main-container .container2 .formularioreg button{
    padding: 10px;
    background-color: #1061da40;
    font-size: 15px;
    margin-top: 20px;
}

.main-container .container2 .formularioreg button:hover{
    background-color: #1061da57;

}
.main-container .container2 .formularioreg div label{
    padding: 5px;

}
.main-container .container2 .formularioreg div input{
    padding: 5px;
    width: 300px;

}
#checkbox-terminos{
    padding: 10px;
    transform: scale(1.3);
    
}

