<br><br><br><br>
<!--Modificacion de los div main-conteirner a div main-container2-->
<div class="  ">
    <div class="row d-flex h-100 justify-content-center">
        <div class="col-sm-6 text-center justify-content-center align-self-center">
            <h1>
                Ofertas de empleo y reclutamiento
            </h1>
            <p>En este espacio del sitio web podras encontrar puestos que se adapten a tus necesidades ya sean puestos laborales fijos o reclutamiento para pasantias. También podras encontrar charlas y capacitaciones para que puedas ampliar tus conocimientos.
            </p>
        </div>
    </div>
</div>
<!--Modificacion de los div main-conteirner a div main-container2-->
<div id="fondoempleo" class="container-fluid main-container2">
    <main>


        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom text-center">Empleos</h2>
            <div class="row g-4 py-5 row-cols-1 ">
                <div class="feature col">
                    <div class="feature-icon bg-primary bg-gradient">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
                    </div>
                    <h2>Programador en C++</h2>
                    <p>Nos encontramos en la busqueda de un programador en C ++ para un proyecto. Este es un proyecto totalmente nuevo en el que serás responsable de desarrollar software para m....</p>
                    <a href="#" class="icon-link">
      Leer más...
      <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
    </a>
                </div>
                <div class="feature col">
                    <div class="feature-icon bg-primary bg-gradient">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
                    </div>
                    <h2>Diseñador de contenido</h2>
                    <p>Búsqueda de un diseñador/a con +1 año de experiencia en el rubro. Herramientas: Figma y maquetado en HTML y CSS. Prepaga y bonificaciones anuales....</p>
                    <a href="#" class="icon-link">
      Leer más...
      <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
    </a>
                </div>
                <div class="feature col">
                    <div class="feature-icon bg-primary bg-gradient">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                    </div>
                    <h2>Desarrollador web junior</h2>
                    <p>HTML, CSS (Tailwind), React, Firebase. 2 años de experiencia,...</p>
                    <a href="#" class="icon-link">
      Leer más...
      <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
    </a>
                </div>
            </div>
        </div>